*
{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

header
{
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0)),url("images/background_1.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.main
{
	max-width: 1400px;
	margin: auto;
} 

ul
{
	list-style-type: none;
	margin-top: 25px;
	margin-right: 20px;
	float: right;
}

ul li
{
	display: inline-block;
	line-height: 20px;
	margin: 5px;
	
}

ul li a
{
	text-decoration: none;
	color: #fff;
	padding: 8px 20px;
	margin: 15px;
	border: 1px solid transparent;
	border-radius: 6px;
	transition: 0.7s ease;
}

ul li a:hover
{
	background-color: #fff;
	color: #000;
}

ul li.active a
{
	background-color: #aaa;
	color:#000;
}

ul li.active a:hover
{
	background-color: #fff;
	color:#000;
}

.dropdownmenu
{
	display: none;
}

ul li:hover .dropdownmenu
{
	display: block;
	position: absolute;
	background: transparent;
	border-radius: 25px;
	margin-top: 5px;
	margin-left: -15px;
}

ul li:hover .dropdownmenu ul li
{
	display: block;
	margin: 5px;
	background: transparent;
	width: 240px;
	padding: 10px;
	text-align: left;
}

ul li:hover .dropdownmenu ul li a:hover
{
	color: #fff;
	border: 1px solid transparent;
	background-color: #000;
	opacity: 0.8;
	border-radius: 30px;
	transition: 0.5s ease;
}

