body{
    background-color: rgb(241, 215, 176);
    font-family: 
    }
    
    
    .top{
        width: 1500px;
        height: 500px;
        background-image: url("https://www.desktopbackground.org/download/o/2010/04/27/8551_underwater-wallpapers-3112-amazing-hd-wallnos-com_1680x1050_h.jpg ");
        background-repeat: no-repeat;
    }

    h1{

        color: rgb(225, 240, 15); 
        font-family: monospace ;
        font-size: 50px;
        
      }
      
      h2{
      
          color: dodgerBlue;
          font-size: 30px;
      
      }
      
      #para2{
    
        margin: 0;
    padding : 0.25em;
    
    
     
    
    }
    
    .problems1{
        border: 5px lightcyan;
        padding: 5rem;
        display: flex;
        flex-direction: column;
        background-color: aqua;
    }

    .problems1 p{
        font: small-caps bold 1.2rem sans-serif;
        text-align: center;
        background-color: aqua;
    
    }
    .problems2{
        border: 10px lightcyan;
        padding: 5rem;
        display: flex;
        flex-direction: column;
        background-color: cadetblue;
    }
    
    .problems2 p{
        font: small-caps bold 1.2rem sans-serif;
        text-align: center;
    background-color: cadetblue;
    }
    
    .problems3{
        border: 10px lightcyan;
        padding: 5rem;
        display: flex;
        flex-direction: column;
        background-color: coral;
    }
    
    .problems3 p{
        font: small-caps bold 1.2rem sans-serif;
        text-align: center;
    background-color: coral;
    }
    