body{
    background-color: rgb(241, 215, 176);
    font-family: 
    }
    
    
    .top{
        width: 1500px;
        height: 500px;
        background-image: url("https://www.desktopbackground.org/download/o/2010/04/27/8551_underwater-wallpapers-3112-amazing-hd-wallnos-com_1680x1050_h.jpg ");
        background-repeat: no-repeat;
    }