*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff3f3;
}
#banner{
    height: 750px;
    width: 1535px;
    background-image: url(./image/marine28.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.banner-text{
    text-align: center;
    color: #fff;
    padding-top: 130px;
}
.banner-text h1{
    font-size: 130px;
    font-family: 'Kaushan Script', cursive;
}

@media screen and (max-width: 700px) {
    #banner{
        background: url(./image/marine28.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 620px;
        width: 360px;
    }
    .banner-text{
        font-size: 44px;
    }
}
#vision{
	border:5px solid;
    border-color:black;
    font-family: sans-serif;
    color: black;
    font-family: 'Aladin', cursive;
    margin-bottom:10px;
    margin-left: 10%;
    margin-right: 10%;
    font-size:22px;
    text-align:center;
    margin: 100px auto;
    width: 70%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(./image/marine31.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;    
    padding: 100px 0;
}
.vision h1{
    color:#fff;
    margin-bottom: 40px;
    font-size: 50px;
    padding: 0;
}
.vision p{
    color: white;
}
@media screen and (max-width: 700px){
    #vision{
    border:5px solid;
    border-color:black;
    font-family: sans-serif;
    color: black;
    font-family: 'Aladin', cursive;
    margin-bottom:10px;
    margin-left: 5%;
    margin-right: 5%;
    width: 300px;
    font-size:20px;
    text-align:center;
}
}
#Mission{
	border:5px solid;
	border-color:black;
	font-family: sans-serif;
	color: black;
	font-family: 'Aladin', cursive;
	margin-bottom:10px;
    margin-left: 10%;
   	margin-right: 10%;
	font-size:22px;
	text-align:center;
    margin: 100px auto;
    width: 70%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(./image/marine5.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;    
    padding: 100px 0;
}
.mission h1{
    color:#fff;
    margin-bottom: 40px;
    font-size: 50px;
    padding: 0;
}
.mission p{
    color: white;
}
@media screen and (max-width: 700px){
    #Mission{
    border:5px solid;
    border-color:black;
    font-family: sans-serif;
    color: black;
    font-family: 'Aladin', cursive;
    margin-bottom:10px;
    margin-left: 5%;
    margin-right: 5%;
    width: 300px;
    font-size:20px;
    text-align:center;
}
}
.testimonial{
    width: 40%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.testimonial-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background:  #ffd6cc;
    padding: 25px;
    border: 3px solid black;
    cursor: pointer;
    display: flex;
}
.testimonial-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;

}
.testimonial-col1{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background:  #ffd6cc;
    padding: 25px;
    border: 3px solid black;
    cursor: pointer;
    display: flex;
}
.testimonial-col1 img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testimonial-col .fas{
    color:#f44336;
}
.testimonial-col .far{
    color:#f44336;
}
.testimonial-col1 .fas{
    color:#f44336;
}
.testimonial-col1 .far{
    color:#f44336;
}
@media screen and (max-width: 700px){
    .testimonial{
    width: 90%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.testimonial-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background:  #ffd6cc;
    padding: 25px;
    border: 3px solid black;
    cursor: pointer;
    display: flex;
}
.testimonial-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;

}
.testimonial-col1{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background:  #ffd6cc;
    padding: 25px;
    border: 3px solid black;
    cursor: pointer;
    display: flex;
}
.testimonial-col1 img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testimonial-col .fas{
    color:#f44336;
}
.testimonial-col .far{
    color:#f44336;
}
.testimonial-col1 .fas{
    color:#f44336;
}
.testimonial-col1 .far{
    color:#f44336;
}
}
#Gallery{
    text-align: center;
    color: blue;
    text-decoration:wavy;
}

*{
    margin:0 ;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.footer
{
    width:100vw;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background-color:#18181a;
    background-attachment: fixed;
}
.inner_footer{

    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 30%;
}
.inner_footer .logo_container{

    width: 35%;
    float: left;
    height: 100%;
    display: block;

}
.inner_footer .logo_container img{
    width: 200px;
    height: auto;
}
.inner_footer .footer_third{

    width: calc(21.6666666667% - 20px);
    margin-right: 10px;
    float: left;
    height: 100%;
}
.inner_footer .footer_third:last-child{

    margin-right: 0;
}
.inner_footer .footer_third h1{
    font-family: 'arial';
    font-size: 22px;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.inner_footer .footer_third a{
    font-family: 'arial';
    font-size: 15px;
    color: white;
    display: block;
    font-weight: 200;
    width: 100%;
    padding-bottom: 5px;
}
.inner_footer .footer_third li{
    display: inline-block;
    padding: 0 5px;
    font-size: 20px;
}
.inner_footer .footer_third span{
    color: white;
    font-size: 14px;
    font-family: 'arial';
    font-weight: 200;
    display: block;
    width: 100%;
    padding-top: 20px;
    line-height: 1.6em;
}
/*.footer-bottom{
    color: white;
    text-align: center;
    padding-top: 10px;
}*/
@media(max-width: 600px){
    .footer .inner_footer{
        width: 90%;
    }
    .inner_footer .logo_container,
    .inner_footer .footer_third{
        width: 100%;
        margin-bottom: 30px;
    }
}
