*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff3f3;
}
#banner{
    height: 750px;
    width: 1535px;
    background-image: url(./image/marine28.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.banner-text{
    text-align: center;
    color: #fff;
    padding-top: 130px;
}
.banner-text h1{
    font-size: 130px;
    font-family: 'Kaushan Script', cursive;
}

@media screen and (max-width: 700px) {
    #banner{
        background: url(./image/marine28.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 620px;
        width: 360px;
    }
    .banner-text{
        font-size: 44px;
    }
}
#vision{
	border:5px solid;
    border-color:black;
    font-family: sans-serif;
    color: black;
    font-family: 'Aladin', cursive;
    margin-bottom:10px;
    margin-left: 10%;
    margin-right: 10%;
    font-size:22px;
    text-align:center;
    margin: 100px auto;
    width: 70%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(./image/marine31.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;    
    padding: 100px 0;
}
.vision h1{
    color:#fff;
    margin-bottom: 40px;
    font-size: 50px;
    padding: 0;
}
.vision p{
    color: white;
}
@media screen and (max-width: 700px){
    #vision{
    border:5px solid;
    border-color:black;
    font-family: sans-serif;
    color: black;
    font-family: 'Aladin', cursive;
    margin-bottom:10px;
    margin-left: 5%;
    margin-right: 5%;
    width: 300px;
    font-size:20px;
    text-align:center;
}
}
#Mission{
	border:5px solid;
	border-color:black;
	font-family:sans-serif;
	color: black;
	font-family: 'Aladin', cursive;
	margin-bottom:10px;
    margin-left: 10%;
   	margin-right: 10%;
	font-size:22px;
	text-align:center;
	background-color:#20faf7;
}
.meetus{
    margin: 100px auto;
    width: 70%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(./image/marine31.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;    
    padding: 100px 0;
}
.meetus h1{
    color:#fff;
    margin-bottom: 40px;
    padding: 0;
}
.meet-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px;
}
.meet-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;

}
#contact-title{
    margin-top: 100px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
    background: linear-gradient(rgba(0,0,50,0.7),rgba(0,0,50,0.7)), url(./image/marine28.jpeg);
    background-size: cover;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    font-family: sans-serif;
}
.text-title{
    color: #aaccbb;
}
.text-title h2{
    font-family: 'Aladin', cursive;
}
form{
    margin-top: 50px;
    transition: all 4s ease-in-out;
}
.form-control{
    width: 600px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px  solid  #f44336;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
}
input{
    height: 45px;
}
textarea{
     color: #fff;
     border-color: black;

}
form.submit {
    background: transparent;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}
form.submit :hover{
    cursor: pointer;
    background-color: #f44336;
    border-color: transparent;
}
#Gallery{
    text-align: center;
    color: blue;
    text-decoration:wavy;
}

*{
    margin:0 ;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.footer
{
    width:100vw;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background-color:#18181a;
    background-attachment: fixed;
}
.inner_footer{

    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 30%;
}
.inner_footer .logo_container{

    width: 35%;
    float: left;
    height: 100%;
    display: block;

}
.inner_footer .logo_container img{
    width: 200px;
    height: auto;
}
.inner_footer .footer_third{

    width: calc(21.6666666667% - 20px);
    margin-right: 10px;
    float: left;
    height: 100%;
}
.inner_footer .footer_third:last-child{

    margin-right: 0;
}
.inner_footer .footer_third h1{
    font-family: 'arial';
    font-size: 22px;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.inner_footer .footer_third a{
    font-family: 'arial';
    font-size: 15px;
    color: white;
    display: block;
    font-weight: 200;
    width: 100%;
    padding-bottom: 5px;
}
.inner_footer .footer_third li{
    display: inline-block;
    padding: 0 5px;
    font-size: 20px;
}
.inner_footer .footer_third span{
    color: white;
    font-size: 14px;
    font-family: 'arial';
    font-weight: 200;
    display: block;
    width: 100%;
    padding-top: 20px;
    line-height: 1.6em;
}
/*.footer-bottom{
    color: white;
    text-align: center;
    padding-top: 10px;
}*/
@media(max-width: 600px){
    .footer .inner_footer{
        width: 90%;
    }
    .inner_footer .logo_container,
    .inner_footer .footer_third{
        width: 100%;
        margin-bottom: 30px;
    }
}
