*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(./image/marine11.jpeg);
    background-position: center;
    background-size: 87% 99%;
    background-repeat: no-repeat;
    position: relative;
}
nav{
    display: flex;
    padding: 6% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 30px;
    font-family: 'STIX Two Math', serif;

}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 5px;
    background: #f44336;
    display: block;
    margin-left: auto;
    transition: 0.5s;
}
.nav-linksul li:hover::after{
    width: 100%;
}
nav.fa{
    display: none;
}
.text{
    width: 90%;
    color: #6600cc;
    position: absolute;
    top: 35%;
    left: 60%;
    transform: translate(-50% -50%);
}
.text h1{
    font-size: 750%;
}
#Vision{
    border: 5px solid black;
    font-family: 'Aladin', cursive;
    color: black;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
	font-size:22px;
	text-align:center;
	background-color:#20faf7;
}
#Mission{
	border:5px solid;
	border-color:black;
	font-family:sans-serif;
	color: black;
	font-family: 'Aladin', cursive;
	margin-bottom:10px;
    margin-left: 10%;
   	margin-right: 10%;
	font-size:22px;
	text-align:center;
	background-color:#20faf7;
}
